@use 'src/DesignComponents/Styles/_grid.scss' as *;
@use 'src/DesignComponents/Styles/_colors.scss' as *;

@mixin button {
  padding: $unit;
  min-width: $unit + 8px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-radius: 0.5 * $unit;
}

.bordered {
  @include button;
  border-color: $violet;
}

.bordered-active {
  @include button;
  border-color: $dark;
  background: $grey;
  color: $bright-grey;
}